<div class="d-flex mb-3 gap-3">

  <input type="radio" value="" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off" checked>
  <label class="btn filter-btn" for="btnradio0">All</label>

  <input type="radio" class="btn-check" value="Small" name="btnradio" id="btnradio1" autocomplete="off">
  <label class="btn filter-btn" for="btnradio1">Small</label>

  <input type="radio" class="btn-check" value="Medium" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn filter-btn" for="btnradio2">Medium</label>

  <input type="radio" class="btn-check" value="Large" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn filter-btn" for="btnradio3">Large</label>
</div>
<section id="car-list" class="d-flex flex-wrap gap-3">

</section>

<div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="../assets/img-BeepBeep.png" class="mb-3">
        <p class="fw-bold">Menghapus Data Mobil</p>
        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
        <div class="text-center">
          <button class="btn btn-primary" id="confirm-delete">
            Ya
          </button>
          <button class="btn btn-outline-primary" data-bs-dismiss="modal">
            Tidak
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="delete-overlay" class="align-items-center justify-content-center">
  <div class="delete-overlay-content p-4">
    <img src="../assets/img-BeepBeep.png" class="mb-3">
    <p class="fw-bold">Menghapus Data Mobil</p>
    <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
    <div class="text-center">
      <button class="btn btn-primary">
        Ya
      </button>
      <button class="btn btn-outline-primary" onclick="CarList.toggleOverlay()">
        Tidak
      </button>
    </div>
  </div>

</div> -->
<script src="../js/Car.js"></script>
<script src="../js/CarList.js"></script>